@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.pagination {
  display: flex;
  @include mixins.margin-top(2);

  .previous {
    text-align: left;
    width: 50%;

    .previousLink {
      color: hsl(var(--color-foreground));
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: hsl(var(--color-primary));
      }

      &.disable {
        color: hsl(var(--color-muted-foreground));
        pointer-events: none;
      }
    }
  }

  .next {
    text-align: right;
    width: 50%;

    .nextLink {
      color: hsl(var(--color-foreground));
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: hsl(var(--color-primary));
      }

      &.disable {
        color: hsl(var(--color-muted-foreground));
        pointer-events: none;
      }
    }
  }
}
