@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.themeSwitcher {
  --theme-switcher-color: hsl(var(--color-foreground));

  .button {
    align-items: center;
    background: transparent;
    border: 0;
    outline: 0;
    display: flex;
    cursor: pointer;
    justify-content: center;

    svg {
      stroke: var(--theme-switcher-color);
      pointer-events: none;
      transition: stroke 400ms;
    }

    &:hover {
      --theme-switcher-color: hsl(var(--color-primary));
    }
  }

  .moon {
    opacity: 0;
    stroke-dasharray: 0 1px;
    transition: stroke-dasharray 200ms ease-in, opacity 400ms ease-in;
  }

  .sun {
    opacity: 1;
    stroke-dasharray: 1px 1px;
    transition: stroke-dasharray 200ms ease-in, opacity 400ms ease-in;
  }

  &.dark {
    .moon {
      opacity: 1;
      stroke-dasharray: 1px 1px;
    }

    .sun {
      opacity: 0;
      stroke-dasharray: 0 1px;
    }
  }
}
