# Astro
dist
node_modules
.env
.env.local
.env.*.local

# Build
.cache

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Dependencies
npm-shrinkwrap.json
package-lock.json
yarn.lock
pnpm-lock.yaml
