@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.button {
  border: 1px solid hsl(var(--color-border));
  border-radius: variables.$button-border-radius;
  font-size: variables.$typography-base-font-size;
  line-height: variables.$button-height;
  color: hsl(var(--color-foreground));
  height: variables.$button-height;
  text-decoration: none;
  display: inline-block;
  font-weight: normal;
  margin-right: auto;
  text-align: center;
  margin-left: auto;
  @include mixins.padding(0, 1);

  &:hover, &:focus {
    color: hsl(var(--color-accent-foreground));
    background: hsl(var(--color-accent));
  }
}
