@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.post-author {
  border-top: 1px solid hsl(var(--color-border));
  max-width: variables.$layout-post-width;
  @include mixins.padding-top(1);
  @include mixins.line-height(1);
  @include mixins.margin-top(1);
  @include mixins.margin-bottom(2);

  .description {
    .x {
      display: block;
      text-decoration: underline;
    }
  }
}

@include mixins.breakpoint-sm {
  .post-author {
    margin-left: auto;
    margin-right: auto;
  }
}
