@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.sidebar-menu {
  @include mixins.margin-bottom(1);

  .list {
    list-style: none;
    @include mixins.margin-equal(0);
    @include mixins.padding-equal(0);

    .item {
      @include mixins.margin(0.5, 0);
      @include mixins.padding-equal(0);

      .link {
        border: 0;
        color: hsl(var(--color-foreground));
        font-size: variables.$typography-base-font-size;
        font-weight: normal;

        &:hover,
        &:focus {
          border-bottom: 1px solid hsl(var(--color-primary));
          color: hsl(var(--color-primary));
        }

        &.active {
          border-bottom: 1px solid hsl(var(--color-foreground));
          color: hsl(var(--color-foreground));
        }
      }
    }
  }
}
