@use "../variables";

@mixin padding-left($number) {
  padding-left: #{$number * variables.$typography-leading + "px"};
}

@mixin padding-right($number) {
  padding-right: #{$number * variables.$typography-leading + "px"};
}

@mixin padding-top($number) {
  padding-top: #{$number * variables.$typography-leading + "px"};
}

@mixin padding-bottom($number) {
  padding-bottom: #{$number * variables.$typography-leading + "px"};
}

@mixin padding-equal($number) {
  padding: #{$number * variables.$typography-leading + "px"};
}

@mixin padding($top, $right, $bottom: null, $left: null) {
  @if not $left and not $bottom {
    padding:
      #{$top * variables.$typography-leading + "px"}
      #{$right * variables.$typography-leading + "px"};
  } @else if not $left or $left == $right {
    padding:
      #{$top * variables.$typography-leading + "px"}
      #{$right * variables.$typography-leading + "px"}
      #{$bottom * variables.$typography-leading + "px"};
  } @else {
    padding:
      #{$top * variables.$typography-leading + "px"}
      #{$right * variables.$typography-leading + "px"}
      #{$bottom * variables.$typography-leading + "px"}
      #{$left * variables.$typography-leading + "px"};
  }
}
