@use "src/assets/styles/mixins";

.sidebar {
  width: 100%;
  grid-column: span 12;

  .inner {
    position: relative;
    @include mixins.padding(1, 0.75, 0);

    &:after {
      background: hsl(var(--color-border));
      background: linear-gradient(
        to bottom,
        hsl(var(--color-border)) 0%,
        hsl(var(--color-border)) 48%,
        hsl(var(--color-background)) 100%
      );
    }
  }
}

@include mixins.breakpoint-sm {
  .sidebar {
    grid-column: span 5;

    .inner {
      @include mixins.padding(1.25, 0.75, 0);

      &:after {
        bottom: 0;
        content: "";
        height: 540px;
        position: absolute;
        right: -10px;
        width: 1px;
        top: 30px;
      }
    }
  }
}

@include mixins.breakpoint-md {
  .sidebar {
    grid-column: span 4;

    .inner {
      @include mixins.padding-equal(1.5);
    }
  }
}
