@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.page {
  grid-column: span 12;
  @include mixins.margin-bottom(2);

  .inner {
    @include mixins.padding(1, 0.75, 0);
  }

  .title {
    font-weight: 600;
    font-size: variables.$typography-base-font-size * 2.5;
    @include mixins.line-height(2);
    @include mixins.margin-top(0);
    @include mixins.margin-bottom(1.45);
  }

  .body {
    font-size: variables.$typography-base-font-size;
    @include mixins.line-height(1);
    @include mixins.margin(0, 0, 1);
  }
}

@include mixins.breakpoint-sm {
  .page {
    grid-column: span 7;

    .inner {
      @include mixins.padding(1.25, 0.75, 0);
    }
  }
}

@include mixins.breakpoint-lg {
  .page {
    grid-column: span 8;

    .inner {
      @include mixins.padding(1.5, 1, 0);
    }
  }
}
