@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.post {
  grid-column: span 12;

  .content {
    @include mixins.margin-auto();
  }

  .footer {
    max-width: variables.$layout-post-width;
    @include mixins.padding(0, 0.5);
    @include mixins.margin-auto();
  }

  .comments {
    max-width: variables.$layout-post-width;
    @include mixins.padding(0, 0.5);
    @include mixins.margin-auto();
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    @include mixins.margin(1, 0, 0, 0);

    .buttonArticles {
      @include mixins.margin(0, 0.5, 0, 0);
    }
  }
}

@include mixins.breakpoint-lg {
  .post {
    .footer {
      @include mixins.padding-equal(0);
    }

    .comments {
      @include mixins.padding-equal(0);
    }

    .buttons {
      left: 30px;
      max-width: none;
      position: fixed;
      top: 30px;
      @include mixins.margin(0, 0.5, 0, 0);
    }
  }
}
